{% extends 'base.html' %}

{% block content %}
<section class="hero reveal">
    <h1>Patrick Andrawus Kumba</h1>
    <h3>Machine Learning Engineer</h3>
    <p>
        Machine Learning Engineer | End-to-End ML Systems | AWS | Flask | MLOps
    </p>

    <div class="hero-buttons">
        <a href="/projects" class="btn">View Projects</a>
        <a href="/contact" class="btn btn-outline">Contact Me</a>
    </div>
    <!-- <img src="/static/pato-pt.jpg" alt="Hero Image" class="hero-image"> -->
</section>

<section class="highlights">
    <div class="card">
        <h4>Data Science</h4>
        <p>Data Cleaning, Analysis, Visualization, Machine Learning & Business Intelligence</p>
    </div>

    <div class="card">
        <h4>Machine Learning</h4>
        <p>Regression, Classification, K-Means Clustering, Model Evaluation & Deployment</p>
    </div>

    <div class="card">
        <h4>Full-Stack Development</h4>
        <p>Flask Web Apps, Streamlit ML Apps, REST APIs & Database Integration</p>
    </div>
</section>
{% endblock %}
