{% extends 'base.html' %}

{% block content %}
<section class="hero reveal">
    <h1>Patrick Andrawus Kumba</h1>
    <h3>Machine Learning Engineer & Data Scientist | MLOps | End-to-End ML Systems | AWS | Flask</h3>
    <p>
     I build end-to-end machine learning systems — from data analysis and predictive modeling to deploying 
     scalable ML applications using Flask, AWS, Fly.io and MLOps.
    </p>

    <p>
    Specializing in Machine Learning, Deep Learning, NLP, Computer Vision,
    Time Series Forecasting, Big Data, Business Intelligence, and MLOps
    for production-ready ML systems.
    </p>

    <div class="hero-buttons">
        <a href="/projects" class="btn">View Projects</a>
        <a href="/contact" class="btn btn-outline">Contact Me</a>
    </div>
    <!-- <img src="/static/pato-pt.jpg" alt="Hero Image" class="hero-image"> -->
</section>

<section class="highlights">
    <div class="card">
        <h4>Data Science & analytics</h4>
        <p>Data Cleaning, Exploratory Data Analysis, Statistical Modeling,
           Data Visualization with Python, Power BI and Tableau
        </p>
    </div>

    <div class="card">
        <h4>Machine Learning & AI</h4>
        <p>
        Regression, Classification, Clustering, Deep Learning,
        NLP, Computer Vision, Time Series Forecasting.
        </p>
    </div>

    <div class="card">
        <h4>ML Engineering & Deployment</h4>
        <p>
        End-to-End ML Systems, Flask APIs, Model Deployment,
        AWS Cloud, Docker, MLOps and Database Integration.
        </p>
    </div>
   
    <section class="tech-stack-section">
        <h2 class="tech-title">Tech Stack</h2>
         <div class="tech-grid">
             <div class="tech-card">
                <h4>Programming & Data Science</h4>
                <p>Python, R, SQL, Excel, Pandas, NumPy, Scikit-Learn, TensorFlow, PySpark</p>
            </div>
            
            <div class="tech-card">
                <h4>Machine Learning & AI</h4>
                <p>NLP (NLTK, SpaCy), Computer Vision (OpenCV), Deep Learning, Time Series Forecasting</p>
            </div>
            
            <div class="tech-card">
                <h4>Web Development & APIs</h4>
                <p>Flask, HTML, CSS, REST APIs</p>
            </div>
            
            <div class="tech-card">
                <h4>Databases</h4>
                <p>MySQL, MongoDB</p>
            </div>
            
            <div class="tech-card">
                <h4>Business Intelligence</h4>
                <p>Power BI, Tableau, Matplotlib, Seaborn</p>
            </div>
            
            <div class="tech-card">
                <h4>Cloud & ML Deployment</h4>
                <p>AWS, Docker, MLOps, Model Deployment</p>
            </div>
        </div>
    </section>
</section>
{% endblock %}
